.apod-image {
    width: 500px;
    height: 250px;
}

p {
    width: 500px;
    height: auto;
}

.apod-wrapper {
    width: 500px;
    height: 700px;
    margin: 0 auto;
    background-color: rgb(211, 211, 211);
}

.apod-carousel {

    display: flex;
    flex-direction: row;
}

.apod-main-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    width: 1000px;
    overflow: hidden;
    overflow-y:hidden;
    margin: 0 auto;
}

.c0 {
    width: 25%;
    overflow: hidden;
}

.c1 {
    width: 500px;
}

.c2 {
    width: 25%;
    overflow: hidden;
}
