.card-image {
    width: 100%;
    height: 250px;
}

p {
    width: 500px;
    height: auto;
}

.card-wrapper {
    width: 50;
    margin: 0 auto;
    background-color: RED;
}

.card-carousel {
    display: flex;
    flex-direction: row;
}